<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
    <div class="container">
        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
            <a class="navbar-brand" href="/"><img src="images/logo.png" class="logo" alt=""></a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about-us">About Us</a></li>
                <li class="dropdown">
                    <a href="/shop" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                    <ul class="dropdown-menu">
                        <li><a href="/shop">Sidebar Shop</a></li>
                        <li><a href="shop-detail.html">Shop Detail</a></li>
                        <% if (isSignedIn) {%>
                            <li><a href="/cart">Cart</a></li>
                            <li><a href="/checkout">Checkout</a></li>
                            <li><a href="/my-account">My Account</a></li>
                            <li><a href="/wishlist">Wishlist</a></li>
                        <% } %>   
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact-us">Contact Us</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->

        <!-- Start Atribute Navigation -->
        <div class="attr-nav">
            <ul>
                <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                <% if (isSignedIn) {%> 
                    <li class="side-menu">
                        <a href="#">
                            <i class="fa fa-shopping-bag"></i>
                            <span class="badge"><%= cartItems.length %> </span>
                            <p>My Cart</p>
                        </a>
                    </li>
                <% } %> 
            </ul>
        </div>
        <!-- End Atribute Navigation -->
    </div>
    <!-- Start Side Menu -->
    <% if (isSignedIn) {%>
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            <li class="cart-box">
                <ul class="cart-list">
                    <% for( let item of cartItems ) { %>
                        <li>
                            <a href="/products/<%= item.product.id %>" class="photo"><img src="<%= item.product.imageUrl %> " class="cart-thumb" alt="<%= item.product.title %> " /></a>
                            <h6><a href="/products/<%= item.product.id %>"><%= item.product.title %></a></h6>
                            <p><%= item.quantity %>x - <span class="price">$<%= item.product.price %> </span></p>
                        </li>
                    <% } %>
                    <li class="total">
                        <a href="/cart" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                        <span class="float-right"><strong>Total</strong>: $<%= totalPrice %> </span>
                    </li>
                </ul>
            </li>
        </div>
    <% } %> 
    <!-- End Side Menu -->
</nav>