<%- include('../includes/header.ejs') %>

<body>
    <!-- Start Main Top -->
    <%- include('../includes/main-top.ejs') %>
    <!-- End Main Top -->
    
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <%- include('../includes/navigation.ejs') %> 
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <%- include('../includes/top-search.ejs') %>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Services</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Gallery  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Our Gallery</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".bulbs">Bulbs</button>
                            <button data-filter=".fruits">Fruits</button>
							<button data-filter=".podded-vegetables">Podded vegetables</button>
							<button data-filter=".root-and-tuberous">Root and tuberous</button>
                            <button data-filter=".others">Others</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                <% for( let product of products ) { %>
                    <div class="col-lg-3 col-md-6 special-grid <%= product.type %>">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <div class="type-lb">
                                    <p class="<%= product.status.toLowerCase() %>"><%= product.status %></p>
                                </div>
                                <img src="<%= product.imageUrl %>" class="img-fluid" alt="<%= product.title %> ">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="<%= '/products/' + product.id %> " data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                        <li><a href="#" data-productid="<%= product.id %>" data-toggle="tooltip" data-placement="right" title="Add to Wishlist" class="wishlist"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                    <% if (product.available) { %>
                                     <a class="cart" href="#" data-productid="<%= product.id %>">Add to Cart</a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- End Gallery  -->

    <!-- Start Instagram Feed  -->
    <%- include('../includes/instagram.ejs') %> 
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->
    <%- include('../includes/footer.ejs') %> 
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <%- include('../includes/copyright.ejs') %> 
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <%- include('../includes/script.ejs') %>
    <script src="js/add-cart-wishlist.js"></script>
</body>

</html>